[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=gnome-panel-launcher
Name[en_US]=Start_Grapher
Exec=./Desktop/Start\\ Experiment/bash_scripts/Grapher.sh
Name=Start Labrad
Icon=gnome-panel-launcher
