#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=gnome-panel-launcher
Name[en_US]=Start Node
Exec=bash -i /home/space-time/LabRAD/start_up/3_Start_Node.sh
Name=Start Node
Icon=gnome-panel-launcher
