[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=gnome-panel-launcher
Name[en_US]=Start_Servers
Exec=./Desktop/Start\\ Experiment/bash_scripts/Start_Servers.sh
Name=Start Labrad
Icon=gnome-panel-launcher
